/* LoginPage.css */
.login-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 10%;
  }
  
  .login-container h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .login-container input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 375px;
  }
  
  .submit-button{
    margin-bottom: 10px;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: rgb(146, 45, 14);
    color: white;
    width: 395px;
  }
  

  .divider {
    text-align: center;
    font-size: 14px;
  }

  /* LoginPage.css */
.google {
  background-color: #f47442; /* Google's primary color */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}



  
 